.darkBG {
  position:fixed;
  top:0;
  left:0;
  width:100vw;
  height:100vh;
  background-color:rgba(0,0,0,0.2);
}
  
  .centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .modal {
    width: 30rem;
    height: 15rem;
    background: #F6EFF0;
  }
  
  .modal-header {
    height: 4.5rem;
    background: #F6EFF0;
  }
  
  .dialog-heading {
    margin: 0;
    padding: 1.5rem;
    color: #252525;
    font-size: 2rem;
    text-align: center;
  }
  
  .modal-content-container {
    padding: 1rem;
    font-size: 1.25rem;
    color: #252525;
    text-align: center;
  }
  
  .btn-container {
    position: absolute;
    bottom: 1.5rem;
    margin-bottom: 1rem;
    width: 100%;
  }
  
  .button-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .btn-close {
    cursor: pointer;
    padding: 0.25rem 0.5rem;
    border: none;
    font-size: 1.25rem;
    color: #252525;
    background: #F6EFF0;
    transition: all 0.25s ease;
    position: absolute;
    right: 0;
    top: 0;
    align-self: flex-end;
  }
  
  .btn-close:hover {
    box-shadow: 0 0.313rem 1.25rem 0 rgba(0, 0, 0, 0.04);
    transform: translate(-0.25rem, 0.25rem);
    color: #F6EFF0;
    background-color: #BB271A;
  }
  
  .btn-save {
    margin-top: 1rem;
    cursor: pointer;
    padding: 0.688rem 1.75rem;
    font-size: 0.8rem;
    border: none;
    color: #252525;
    letter-spacing: 0.1rem;
    background: #C1E1D2;
    transition: all 0.25s ease;
  }
  
  .btn-save:hover {
    box-shadow: 0 0.625rem 1.25rem -0.625rem #C1E1D2;
    transform: translateY(-0.313rem);
    background: #C1E1D2;
  }
  
  .btn-cancel {
    margin-top: 1rem;
    cursor: pointer;
    padding: 0.688rem 1.75rem;
    font-size: 0.8rem;
    border: none;
    color: #252525;
    background: #C1E1D2;
    transition: all 0.25s ease;
  }
  
  .btn-cancel:hover {
    box-shadow: none;
    transform: none;
    color: white;
    background: #BB271A;
  }