.info-container {
	background-color: #F6EFF0;
	padding:0.625rem;
	width: 50%;
	height: auto;
	display: flex;
	flex-direction: column;
	gap: 3.125rem;
	align-items: center;

	.info {
		margin:3.125rem;
		text-align: justify;
	}

	.start-button {
		margin-bottom: 3.125rem;
	}
}