.cosmetics-page {
	z-index: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 3rem;
	background-size: cover;

	.catalogue {
		background-color: #F6EFF0;
		width: 70%;
		height: auto;
		display: flex;
		flex-direction: column;
		gap: 20px;
		align-items: center;

		.page-title {
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 20px;
		}

		.cosmetics-list {
			justify-content: center;
			align-items: center;
			display: flex;
			gap: 100px;
			flex-wrap: wrap;
			width: 80%;

			.cosmetic {
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				align-items: center;
				background-color: #EEE1E3;
				height: 300px;
				width: 250px;

				&:hover {
					box-shadow: 66px 96px 47px rgba(49, 28, 31, 0.01), 37px 54px 39px rgba(49, 28, 31, 0.05), 17px 24px 29px rgba(49, 28, 31, 0.09), 4px 6px 16px rgba(49, 28, 31, 0.1), 0px 0px 0px rgba(49, 28, 31, 0.1);
				}

				img {
					height: 189px;
					width: 120px;
				}

				p {
					color: inherit;
				}

			}
		}

	}

	.pagination {
		display: flex;
		width: 100%;
		align-items: center;
		justify-content: center;
		padding: 1.5rem;
	}

}