.page {
    display: flex;
    flex-direction: column;
    top: 0;
    width: 100%;
    background-size: cover;
    padding: 3rem;
}

.beige-bg {
    background-color: #F6EFF0;
    width: 70%;
    top: 35%;
    margin: auto;
    display: block;
    overflow: auto;
}

.heading {
    padding: 30px;
    display: flex;
    margin: auto;
    align-items:center;
    justify-content:center;
}

.dark-beige-bg {
    background-color: #EEE1E3;
    width: 45%;
    display: block;
    overflow: auto;
}

.details-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.img {
    width: 14%;
    height: 14%;
}

.border {
    padding: 20px;
    border: 1px dashed #875160;
    box-sizing: border-box;
    width: 95%;
    height: 90%;
    display: block;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 2%;
}

.text {
    text-align: justify;
}

.ingredients {
    width: 35%;
    padding: 30px;
    display: block;
    overflow: auto;
}

.recipe {
    padding: 30px;
    width: 55%;
    margin-right: 30px;
}

.ing {
    padding-bottom: 10px;
}