.page {
	background-image: url(../../../../../public/images/bg-color-finder.svg);
	display: flex;
	gap: 1.25rem;

	.results-container {
		display: flex;
		gap: 3.125rem;
		justify-content: center;
		height: 100%;
		width: 100%;

		.results-save {
			background-color: #F6EFF0;
			width: 60%;
            display: flex;
                .title{
                    padding: 1rem;
                }
                .arrow-left {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    margin-top: auto;
                    margin-bottom: 2rem;
                  }
                  
                  .arrow-right {
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    margin-top: auto;
                    margin-bottom: 2rem;
                  }
                  
                .text{
                    width: 80%;
                    margin-left: 3rem;
                    margin-top: auto;
                    margin-bottom: auto;
                }

                .sub-skin-type-text{
                    display:flex;
                    justify-content: center;
                }

                .best-match {
                    padding-top: 2rem;
                    display: flex;
                    justify-content: space-around;
                } 
                .view-more {
                    color: #A39A9A;
                    float: right;
                    padding-top: 10rem;
                }
                .cosmetics-container-col{
                    max-height: 13rem;
                    .cosmetics {
                        height: 100%;
                        display: block;
                        margin-left: auto;
                        margin-right: auto;
                    }
                    .centered-div {
                        display: block;
                        text-align: center;
                        inline-size: 200px;
                        margin-left: auto;
                        margin-right: auto;
                     }
                }
                
			}
		}
	}