@import url('https://fonts.googleapis.com/css2?family=Unna&display=swap');

p {
    font-family: 'Unna', serif;
}

.small {
    font-size: 20px;
}

.medium {
    font-size: 24px;
}

.large {
    font-size: 26px;
}

.x-large {
    font-size: 28px;
}