  .progress-container {
    width: 15.625rem;
    color: #252525;
    display: grid;
    height: 19px;
  }
  
  .file-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 200px;
  }
  .upload {
    display: flex;
    gap: .8rem;
    align-items: center;
    border: 0.1rem solid #cfdbde;
    padding: .7rem;
    width: 35rem;
  }
  .file-size {
    color: #7eb631;
  }

  .progress-text {
    margin-left: 10px;
  }