.front-page {
	display: flex;
	flex-direction: column;
	top: 0;
	z-index: 0;
	width: 100%;
	justify-content: center;
	align-items: center;

	.pink {
		width: 100%;
		height: 25rem;
		background-color: #F3B4C5;
		display: flex;
		align-items: flex-end;
		justify-content: space-evenly;

		.conifer-bush-about {
			position: absolute;
			top: 6.25rem;
			left: 6.25rem;
			display: flex;
			flex-direction: column;

			.conifer {
				position: absolute;
				top: 5.938rem;
				height: 18.75rem;
				width: 25rem;
			}

			.about {
				position: absolute;
				top: 11.25rem;
				z-index: 1;

				.page-about {

					display: flex;
					flex-direction: column;
					justify-content: center;
					gap: 0.625rem;
					width: 25rem;
					margin: 0.625rem;

					p {
						text-align: justify;
						text-justify: inter-word;
					}
				}

			}
		}
	}
}

.white {
	width: 100%;
	height: 18.75rem;

	.pink-dots {
		width: 37.5rem;
		height: 34.375rem;
		position: absolute;
		right: 18.75rem;
		top: 0;

		img {
			height: 100%;
			width: 100%;
		}
	}
}

.green {
	width: 100%;
	height: 16.875rem;
	background-color: #A2D3BC;
}

.skin-photo {
	width: 100%;
	height: 22.5rem;
	object-fit: cover;
}

.water-drops {

	position: absolute;
	left: 0;
	z-index: 0;

	img {
		width: 12.5rem;
		height: 6.25rem;

		&:first-of-type {
			position: absolute;
			bottom: 3.125rem;
		}

		&:last-of-type {
			position: absolute;
			left: 0;
			bottom: 9.375rem;
		}

		&:first-of-type,
		&:last-of-type {
			transform: rotate(26.69deg);
		}

		&:nth-of-type(2) {
			position: absolute;
			left: 0;
			bottom: 0;
		}

	}
}

.photo-button-list {
	width: 80%;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	position: absolute;
	top: 34.375rem;
	z-index: 1;

	.photo-button {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		img {
			width: 18.75rem;
			height: 18.75rem;
		}

		button {

			position: relative;
			bottom: 3.125rem;

			a {
				text-decoration: none;

				&:hover,
				&:focus,
				&:visited,
				&:link,
				&:active {
					text-decoration: none;
					color: black;
				}
			}
		}
	}
}

.dots {
    position: relative;
    display: block;
    z-index: 1;
    top: 25rem;
    }

.info-pic {
    height: 21.875rem;
    width: 21.875rem;
	object-fit: cover;
    background-color: black;
    display: block;
    z-index: 5;
    position: relative;
    box-shadow: rgba(149, 157, 165, 0.2) 0 0.5rem 1.5rem;
}

.behind-bg {
    position: relative;
    top: 1.875rem;
    right: 1.875rem;
}

.bg-pink {
    width: 100%;
    width: 21.875rem;
    height: 21.875rem;
    background-color: #F3B4C5;
    display: block;
    z-index: 3;
}

.info-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    gap: 6.875rem;
}

.photo-container {
    position: relative;
    top: -14.063rem;
}
    
.info-text {
    width: 31.25rem;
}
    
.white-info {
    height: 31.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
