.page {
	z-index: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 3rem;
	background-size: cover;

	.beige-bg{
        background-color: #F6EFF0;
        width: 70%;
        padding: 4rem;
        margin: auto;
        display: block;
        overflow: auto;
    }
    
    .heading{
        padding: 1rem;
        display: flex;
        margin: auto;
        align-items:center;
        justify-content:center;
    }

    .btns {
        padding-top: 3rem;
        display: flex;
		justify-content: space-around;
    }

    .txt {
        text-align: justify;
    }

}