@import url('https://fonts.googleapis.com/css2?family=Bitter&display=swap');

h1, h2, h3, h4 {
    font-family: 'Bitter', serif;
    padding: 0;
    margin: 0;
    color: #252525;
    line-height: 1.5;
}

h1 {
    font-size: 4.188rem;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.25rem;
}