@import './src/variables';

.cosmetics-page {
	z-index: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 3rem;
	background-size: cover;

	.filter-container {
		background-color: $green;
		position: fixed;
		left: 0;
		top: 25%;
		width: 3rem;
		height: 20rem;
		border-radius: 0 2.5rem 2.5rem 0;
		transition: transform 0.3s ease-out;

		.arrow {
			display: flex;
			align-items: center;
			height: 20rem;
			cursor: pointer;
		}
	}

	.filter {
		background-color: $green;
		position: fixed;
		left: 0;
		top: -2.5rem;
		transition: transform 0.3s ease-out;
		border-radius: 0 2.188rem 2.188rem 0;
		box-shadow: 13.875rem 15.563rem 8.313rem rgba(0, 0, 0, 0.02), 7.813rem 8.75rem 7rem rgba(0, 0, 0, 0.08), 3.438rem 3.875rem 5.188rem rgba(0, 0, 0, 0.13), 0.875rem 1rem 2.875rem rgba(0, 0, 0, 0.15), 0 0 0 rgba(0, 0, 0, 0.15);

		.text{
			margin: 1rem 0 0 .5rem;
		}
	  }
	  
	  .filter.open {
		transform: translateX(-15.625rem);
		width: 15.625rem;
		height: 25rem;
	  }

	.filter-container.open {
		transform: translateX(15.625rem);
	  }

	.catalogue {
		background-color: #F6EFF0;
		width: 70%;
		height: auto;
		display: flex;
		flex-direction: column;
		gap: 1.25rem;
		align-items: center;

		.page-title {
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 1.25rem;
		}

		.cosmetics-list {
			justify-content: center;
			align-items: center;
			display: flex;
			gap: 6.25rem;
			flex-wrap: wrap;
			width: 80%;
			padding-bottom: 4rem;

			.cosmetic {
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				align-items: center;
				background-color: #EEE1E3;
				height: 18.75rem;
				width: 15.625rem;

				&:hover {
					box-shadow: 4.125rem 6rem 2.938rem rgba(49, 28, 31, 0.01), 2.313rem 3.375rem 2.438rem rgba(49, 28, 31, 0.05), 1.063rem 1.5rem 1.813rem rgba(49, 28, 31, 0.09), 0.25rem 0.375rem 1rem rgba(49, 28, 31, 0.1), 0 0 0 rgba(49, 28, 31, 0.1);
				}

				img {
					height: 11.813rem;
					width: 7.5rem;
				}

				p {
					color: inherit;
				}

			}
		}

	}

	.pagination {
		display: flex;
		width: 100%;
		align-items: center;
		justify-content: center;
		padding: 1.5rem;
	}

}

.no-data {
    display: flex;
	justify-content:center;
    color: #F3B4C5;
}