.checkbox-wrapper {
	display: flex;
	gap: 0.625rem;
	align-items: center;

	input[type='checkbox'] {
		-webkit-appearance: none;
		appearance: none;
		margin: 0;

		font: inherit;
		color: black;
		width: 1.25rem;
		height: 1.25rem;
		border: 0.125rem solid black;
		border-radius: 0.15em;
		transform: translateY(-0.075em);

		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
	}

	input[class='checked'] {
		content: " ";
		background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1MTIgNTEyIj48cGF0aCBmaWxsPSIjMDAwMDAwIiBkPSJNMTczLjg5OCA0MzkuNDA0bC0xNjYuNC0xNjYuNGMtOS45OTctOS45OTctOS45OTctMjYuMjA2IDAtMzYuMjA0bDM2LjIwMy0zNi4yMDRjOS45OTctOS45OTggMjYuMjA3LTkuOTk4IDM2LjIwNCAwTDE5MiAzMTIuNjkgNDMyLjA5NSA3Mi41OTZjOS45OTctOS45OTcgMjYuMjA3LTkuOTk3IDM2LjIwNCAwbDM2LjIwMyAzNi4yMDRjOS45OTcgOS45OTcgOS45OTcgMjYuMjA2IDAgMzYuMjA0bC0yOTQuNCAyOTQuNDAxYy05Ljk5OCA5Ljk5Ny0yNi4yMDcgOS45OTctMzYuMjA0LS4wMDF6Ii8+PC9zdmc+");
		background-repeat: no-repeat;
		background-size: 0.625rem 0.625rem;
		background-position: center center;
	}
}