.navbar {
    background: rgba(255, 255, 255, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    z-index:1;

    .pageTitle {
        font-family: 'Cormorant Garamond';
        padding: 10px;
        font-size: 64px;
    }

    .linkList {
        list-style: none;
        display: flex;
        gap: 10px;
        padding: 10px;

        * {
            text-decoration: none;
            color: black;

            
            &:hover {
                text-decoration: underline;
            }
            &:focus,
            &:visited,
            &:link,
            &:active {
                text-decoration: none;
                color:black;
            }
        }
    }
}