.page {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	.login-register {
		width: 60%;
		background: #F6EFF0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 2rem;
		padding: 1.25rem;

		.form-links {
			width: 80%;
			padding: 3.125rem;
			border: 0.063rem dashed #875160;
			display: flex;
			flex-direction: column;
			gap: 1.25rem;
			margin-bottom: 3.125rem;

			form {
				display: flex;
				flex-direction: column;
				gap: 1.25rem;


				.field {
					display: flex;
					align-items: center;
					justify-content: space-between;

					h4 {
						min-width: 6.25rem;
					}
					input {
						margin-left: 0.625rem;
						height: 3.125rem;
						width: 25rem;
						border: 0.063rem dashed #A39A9A;
						background: #F6EFF0;
					}
				}
			}


			button {
				margin-top: 3.125rem;
				align-self: center;
			}

			.links {
				align-self: center;
				display: flex;
				gap: 0.4em;

				a {
					&:hover {
						text-decoration: underline;
					}
				}
			}
		}

	}
}