button {
    background-color: #C1E1D2;
    color: inherit;
	border: none;
	padding: 20px;
	font: inherit;
	cursor: pointer;
	outline: inherit;

    &:hover {
        background-color: #B7D8C9;
    }
}

button.small {
	width: 5rem;
}

button.medium {
	width: 10rem;
}

button.large {
	width: 15rem;
}