.page {
	background-image: url(../../../public/images/bg-front-page.svg);
	background-size: cover;
	z-index: 1;
	display:flex;
	border:10px solid red;
	.front-page {
		display: flex;
		flex-direction: column;
		top: 0;
		justify-content: center;
		align-items: center;

		.about {
			position: absolute;
			top: 250px;
			left: 100px;

			.page-about {

				display: flex;
				flex-direction: column;
				justify-content: center;
				gap: 10px;
				width: 400px;
				margin: 10px;

				p {
					text-align: justify;
					text-justify: inter-word;
				}
			}


		}
	}

	.photo-button-list {
		position: absolute;
		top: 700px;
		width: 80%;
		display: flex;
		justify-content: space-between;
		align-items: flex-start;

		.photo-button {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			img {
				width: 300px;
				height: 300px;
			}

			button {

				position: relative;
				width: 150px;
				bottom: 50px;

			}
		}
	}

	.dots {
		position: relative;
		display: block;
		z-index: 1;
		top: 400px;
	}

	.info-pic {
		height: 350px;
		width: 350px;
		object-fit: cover;
		background-color: black;
		display: block;
		z-index: 5;
		position: relative;
		box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
	}

	.behind-bg {
		position: relative;
		top: 30px;
		right: 30px;
	}

	.bg-pink {
		width: 100%;
		width: 350px;
		height: 350px;
		background-color: #F3B4C5;
		display: block;
		z-index: 3;
	}

	.info-container {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		justify-content: space-evenly;
		gap: 110px;
	}

	.photo-container {
		position: relative;
		top: -225px;
	}

	.info-text {
		width: 500px;
	}

	.white-info {
		position: absolute;
		top: 1000px;
		height: 500px;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}