.pagination-container {
	background-color: transparent;
	display: flex;
	height: 2.5rem;
	width: 37.5rem;
	align-items: center;
	justify-content: center;
	gap: 0.625rem;
	padding: 0.625rem;

	.gray {
		color: #C9C1C2;


		&:hover,
		.current {
			color: #875160;
		}
	}

	.green {
		color: #8BC8AB;

		&:hover,
		.current {
			color: #5F8874
		}
	}
}