.page {
	background-image: url(../../../../../public/images/bg-color-finder.svg);
	display: flex;
	gap: 1.25rem;

	.title {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		.justified {
			display: inline-block;
			text-align: justify;
			text-align-last: justify;
			letter-spacing: 0.2em;
		}
	}

	.results-container {
		display: flex;
		gap: 3.125rem;
		justify-content: center;
		height: 100%;
		width: 100%;

		.uploaded-photo {
			img {
				height: 100%;
				width: 20em;
				border-top-left-radius: 3.125rem;
				border-top-right-radius: 3.125rem;
			}
		}

		.results-save {
			background-color: #F6EFF0;
			height: 100%;
			display: flex;
			flex-direction: column;
			.save {	
				margin-right: 1em;
				align-self: flex-end;
			}
			.results {
				display: flex;
				justify-content: space-between;
				align-items: center;
				height: 90%;

				.color-palletes {
					height: 100%;
					display: flex;
					flex-direction: column;
					justify-content: space-evenly;

					.color-container {
						display: flex;
						flex-direction: column;
						justify-content: center;
						align-items: center;
						gap: 1em;

						.color {
							width: 50%;
							height: 3.125rem;
						}
					}

					.palletes-container {
						display: flex;
						flex-direction: column;
						justify-content: center;
						align-items: center;
						gap: 1em;

						.palletes-list {
							display: flex;
							align-items: center;
							justify-content: center;
							list-style: none;
							gap: 2em;

							* {
								width: 5em;
								height: 5em;
								border-radius: 50%;
							}

							.blue {
								background: #5BDCE1;
							}

							.pink {
								background: #E73BA5;
							}

							.orange {
								background: #F4975B;
							}

							.beige {
								background: #F9D8CE;
							}
						}
					}
				}
			}
		}
	}
}