.skintype-results {
	.page-title {
		position: absolute;
		top: 120px;
		z-index: 1;
		width: 100%;
		margin-bottom:50px;
        text-align: center;
	}

    .results{
        position: absolute;
		top: 170px;
		z-index: 1;
		width: 100%;
		margin-bottom:50px;
        letter-spacing: 20px;
        text-align: center;
    }

    .result-container {
        position: relative;
        top: -200px;
        display: flex;

        .img-skin {
            position: relative;
            left: 150px;
            height: 22%;
            width: 22%;
        }
    
        .beige-bg {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 450px;
            width: 50%;
            background-color: #F6EFF0;
        }
    }

	.pink {
		width: 100%;
		height: 400px;
		background-color: #F3B4C5;

		.yellow-spot {
			position: absolute;
			width: 30%;
			height: auto;
			left: -40px;
			top: 100px;
		}

		.small-pink-dots {
			position: absolute;
			width: 50%;
			height: auto;
			left: 370px;
			top: -17px;
		}

		.pink-spot {
			position: absolute;
			width: 30%;
			height: auto;
			left: 1063px;
			top: 100px;
		}
	}
    .skin-type {
        position: absolute;
        top: 30px;
        z-index: 1;
		display: flex;
		justify-content: center;
		align-items: center;
    }

    .sub-skin-type-text {
        position: relative;
        top: 200px;
        z-index: 1;
		display: flex;
		justify-content: center;
		align-items: center;
        margin-left: -80px;
    }

    .text {
        position: relative;
        text-align: justify;
        width: 80%;
        left: 0px;
    }

    .arrow-right {
        margin-left: 15px
    }

    .arrow-left {
        position: relative;
        margin-left: 20px;
        z-index: 1;
    }

    .shadow {
        position: relative;
        z-index: 0;
        width: 90%;
        margin: auto;
        top: 160px
    }

    .view-more {
        color: #A39A9A;
        float: right;
        position: relative;
        right: 20px;
        top: -140px;
    }

    .best-match {
        display: flex;
        justify-content: space-around;
        position: relative;
        top: -60px;
    }

    .cosmetics {
        position: relative;
        z-index: 2;
        height: 50%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .centered-div {
        display: block;
        text-align: center;
     }
}