.navbar {
    background-color: #F5C3D1;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .pageTitle {
        font-family: 'Cormorant Garamond';
        padding: 0.625rem;
        font-size: 4rem;
    }

    .linkList {
        list-style: none;
        display: flex;
        gap: 0.625rem;
        padding: 0.625rem;

		.button-no-decoration {
			background-color: transparent;
			padding: 0;
		}

        * {
            text-decoration: none;
            color: black;

            
            &:hover {
                text-decoration: underline;
            }
            &:focus,
            &:visited,
            &:link,
            &:active {
                text-decoration: none;
                color:black;
            }
        }
    }
}