.navbar {
    background-color: #F5C3D1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    // // position: absolute;
    // top: 0;
    // z-index:1;
    // width:100%;

    .pageTitle {
        font-family: 'Cormorant Garamond';
        padding: 10px;
        font-size: 64px;
    }

    .linkList {
        list-style: none;
        display: flex;
        gap: 10px;
        padding: 10px;

		.button-no-decoration {
			background-color: transparent;
			padding:0;
		}

        h4, button {
            text-decoration: none;
            color: black;

            
            &:hover {
                text-decoration: underline;
            }
            &:focus,
            &:visited,
            &:link,
            &:active {
                text-decoration: none;
                color:black;
            }
        }
    }
}