.dropdown {
	
	.dropdown-button {
		background-color: transparent;
		padding: 0;
	};
	.links {
		position: absolute;
		z-index: 1;
		right: auto;
		background-color: #f1f1f1;
		min-width: 180px;

		a {
			padding: 12px 16px;
			display: block;
		}
	}

}